.root{
    /**-fx-background-color: #598fc1;
    -fx-text-fill: #efec17;
    -fx-font-weight: bold;**/
    -fx-background-image: url("../images/background2.jpg");
    -fx-background-repeat: stretch;
    -fx-background-position: bottom center;
}

#Title {
    -fx-font-size: 72px;
    /**-fx-fill: #efec17;**/

}

#subtitle {
    -fx-font-size: 36px;

}

.button {
    -fx-font-size: 12px;
    -fx-font-weight: normal;
}

.text-field {
    -fx-font-weight: normal;
}

.radio-button{
    -fx-font-weight: normal;
}

#exitButton:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
}
