.root{
    -fx-background-image: url("../images/background2.jpg");
    -fx-background-repeat: stretch;
    -fx-background-position: bottom center;
}

#Title {
    -fx-font-size: 65px;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-effect: innershadow(two-pass-box, #8b4500, 6, 0.0, 0, 2);
}

#qtitle {
    -fx-font-size: 26px;
    -fx-font-family: "Arial Rounded MT Bold";
}

#qtext {
    -fx-font-size: 30px;
    -fx-font-family: "Arial Rounded MT";
}

#responsetext {
    -fx-font-size: 21px;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-background-color: #cd6600;
}

#end {
    -fx-font-size: 25px;
    -fx-font-family: "Arial Rounded MT Bold";
}

#imagepane {
    -fx-padding: 10;
    -fx-border-style: solid outside;
    -fx-border-width: 10;
    -fx-border-insets: 5;
    -fx-border-radius: 5;
    -fx-border-color: black;
}

#exitButton:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
}

#stopButton:hover{
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
}

#startButton:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
}