.root{
    -fx-background-image: url("../images/background2.jpg");
    -fx-background-repeat: stretch;
    -fx-background-position: bottom center;
}

#Title {
    -fx-font-size: 65px;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-effect: innershadow(two-pass-box, #8b4500, 6, 0.0, 0, 2);
}

#qtitle {
    -fx-font-size: 26px;
    -fx-font-family: "Arial Rounded MT Bold";
}

#qtext {
    -fx-font-size: 30px;
    -fx-font-family: "Arial Rounded MT";
}

#responsetext {
    -fx-font-size: 21px;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-background-color: #cd6600;
}

#end {
    -fx-font-size: 25px;
    -fx-font-family: "Arial Rounded MT Bold";
}