.root{
    /*-fx-background-image: url("../images/background.jpg");*/
    -fx-background-repeat: stretch;
    -fx-background-position: bottom center;
}

#MCButton{
    -fx-background-image: url("../images/mcquestions.jpg");
    -fx-background-size: cover;
    -fx-font-weight: bold;
    -fx-text-fill: 	#1E90FF;
    -fx-font-size: 24;
}

#SelectIMGButton{
    -fx-background-image: url("../images/imgquestions.jpg");
    -fx-background-size: cover;
    -fx-font-weight: bold;
    -fx-font-size: 24;
    -fx-text-fill: 	#1E90FF;
}

#GUIButton{
    -fx-background-image: url("../images/road-sign.png");
    -fx-background-size: cover;
    -fx-font-weight: bold;
    -fx-font-size: 24;
    -fx-text-fill: 	#1E90FF;
    -fx-background-color: white;
}

#userTitle {
    -fx-font-size: 24px;
}
